{
"chang_gong_xi_gu": [
      {
        "name": "酒店国王房",
        "base_price": 1039572,
        "ideal_price": 1500000,
        "position": "1-1",
        "want_to_buy": "false",
        "buy_max_one_time": "false",
        "buy_times_limit": 1,
        "buyed_times": 0
      }
    ],
    "ling_hao_da_ba": [
      {
        "name": "变电站技术室",
        "base_price": 1039572,
        "ideal_price": 2500000,
        "position": "1-2",
        "want_to_buy":"false",
        "one_time_buy_num": "low",
        "buy_times_limit": 1,
        "buyed_times": 0
      },
      {
        "name": "变电站宿舍",
        "base_price": 39337,
        "ideal_price": 35700,
        "position": "5-1",
        "want_to_buy":"false",
        "one_time_buy_num": "low",
        "buy_times_limit": 1,
        "buyed_times": 0
      }
    ],
    "hang_tian_ji_di": [
      {
        "name": "总裁会客厅",
        "base_price": 1039572,
        "ideal_price": 1500000,
        "position": "1-1",
        "want_to_buy":"false",
        "one_time_buy_num": "low",
        "buy_times_limit": 1,
        "buyed_times": 0
      }
    ],
    "ba_ke_shi": [
      {
        "name": "总裁会议室",
        "base_price": 1039572,
        "ideal_price": 1500000,
        "position": "1-2",
        "want_to_buy":"false",
        "one_time_buy_num": "low",
        "buy_times_limit": 1,
        "buyed_times": 0
      }
    ]      
  }